body { font-family: Arial; padding: 20px; }

header {
    text-align: center;
    background: #333; color: white;
    padding: 40px; border-radius: 10px;
}

section { margin: 30px 0; }

.project-card {
    padding: 20px;
    background: #eee;
    margin: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
}
